* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0 !important;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #6a6a6a;
  font-size: 1.8rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #6a6a6a;
  font-size: 1.8rem;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #6a6a6a;
  font-size: 1.8rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #6a6a6a;
  font-size: 1.8rem;
}

.content-container {
  padding: 3rem 10rem;
  background-color: #f4f8fd;
}

body {
  font-family: "Lato" !important;
  font-size: 1.6rem !important;
  padding: 3rem;
  box-sizing: border-box !important;
  font-weight: 400 !important;
  line-height: 1.7 !important;
  color: #777;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-large {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.text-red {
  color: #d53535 !important;
}

.text-blue {
  color: #3584d5 !important;
}

.flex-2 {
  display: flex;
  flex: 2 !important;
}

.flex-1 {
  display: flex;
  flex: 1 !important;
}

header {
  padding: 2.5rem 5rem;
  background: #101820;
}
header .header-div {
  display: flex;
  flex-direction: column;
}
header .header-div .header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 3rem;
}
header .header-div .header-top .header-right {
  display: flex;
  align-items: center;
}
header .header-div .header-top .header-right .logo-img {
  height: 90px;
}
header .header-div .header-top .header-right .logo-img img {
  height: 100%;
  padding-right: 10rem;
}
header .header-div .header-top .header-right h6 {
  color: #a5acc6;
  font-size: 1.4rem;
}
header .header-div .header-top .header-right h6 span {
  color: #3584d5;
}
header .header-div .header-top .header-left {
  display: flex;
  flex-direction: row;
}
header .header-div .header-top .header-left .header-ul {
  display: flex;
  align-items: center;
}
header .header-div .header-top .header-left .header-ul li {
  padding-left: 2rem;
}
header .header-div .header-top .header-left .header-ul li button {
  background-color: transparent !important;
  border: none;
  color: #fff;
  text-align: left;
  display: flex;
  align-items: center;
}
header .header-div .header-top .header-left .header-ul li button .profile-image {
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}
header .header-div .header-top .header-left .header-ul li button .profile-image img {
  height: 100%;
}
header .header-div .header-top .header-left .header-ul li span {
  display: block;
  font-size: 14px;
  color: #a5acc6;
}
header .header-div .header-bottom .header-ul-2 {
  display: flex;
  justify-content: start;
}
header .header-div .header-bottom .header-ul-2 li {
  list-style: none;
  width: 140px;
  border-right: 2px solid #ffffff;
  margin-right: 60px;
}
header .header-div .header-bottom .header-ul-2 li a {
  font-size: 1.4rem;
  color: #ffffff;
}

.box {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 10px 10px 10px #eceefd;
  border-radius: 1.2rem;
  margin-bottom: 4.6rem;
  padding: 3.6rem;
}

.blue-button {
  background-color: #3584d5;
  color: #fff;
  box-shadow: 2px 5px 1.5rem #3584d580;
  border-radius: 10rem;
  font: normal normal normal 2.4rem/4.3rem Circular Std Book;
  letter-spacing: 0px;
  width: 32rem;
  height: 7rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.signin {
  display: flex;
  flex-direction: row;
}
.signin .logo-side {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 100vh;
  padding: 9rem 9rem;
}
.signin .logo-side h1 {
  color: #ffffff;
  padding-top: 9rem;
  font-size: 7.2rem;
  line-height: 8.2rem;
}
.signin .no-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 9rem 9rem;
}
.signin .no-logo p {
  font-size: 2.4rem;
  color: #9190a2;
}
.signin .form-side {
  background: #f4f8fd;
  width: 50vw;
  padding: 0rem 20rem 0rem 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signin .form-side h2 {
  color: #2e3d62;
  font-size: 55px;
  letter-spacing: -1.1px;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 3rem;
  position: relative;
}
.signin .form-side h2::before {
  content: "";
  width: 7rem;
  border-radius: 1rem;
  height: 0.8rem;
  background: #3584d5;
  position: absolute;
  bottom: -16px;
}
.signin .form-side p {
  color: #2a1e59;
  opacity: 0.4;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}
.signin .form-side form .form-group label {
  color: #a3a1bc;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}
.signin .form-side form .form-group input {
  box-shadow: 4px 3px 6px #00000026;
  border-radius: 10px;
  padding: 2rem;
  font-size: 1.8rem;
}
.signin .form-side form .form-group input[type=checkbox] {
  margin: 2.2rem 1.2rem 1rem 0;
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(1.5);
}
.signin .form-side form .form-group .form-check-label {
  margin-top: 1rem;
  padding-left: 3rem;
}
.signin .form-side form button {
  background: #93c144;
  color: #ffffff;
  text-align: center;
  padding: 2rem;
  width: 100%;
  font-size: 1.8rem;
  border: none;
  border-radius: 5rem;
  margin-top: 2rem;
}
.signin .form-side a {
  color: #93c144;
  font-size: 1.8rem;
  text-align: right;
}

.transaction-complete-header .heading {
  font: normal normal normal 3.6rem/5rem Circular Std Black;
  letter-spacing: -0.72px;
  color: #2e3d62;
  text-transform: capitalize;
  text-align: center;
}
.transaction-complete-header .MTCN {
  color: #3584d5;
  text-align: center;
  font: normal normal normal 4.4rem/5rem Circular Std Black;
  letter-spacing: -0.88px;
}
.transaction-complete-header .time {
  text-align: center;
  font: normal normal normal 2.2rem/5rem Circular Std Black;
  letter-spacing: -0.44px;
  color: #a5acc6;
  text-transform: capitalize;
}

.transaction-complete-transfer-info .heading {
  font: normal normal normal 3rem/7rem Circular Std Black;
  letter-spacing: -0.6px;
  color: #2e3d62;
  text-transform: capitalize;
}
.transaction-complete-transfer-info .box-divider {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
}
.transaction-complete-transfer-info .box-row {
  display: flex;
}
.transaction-complete-transfer-info .box-row-inner {
  display: flex;
  flex: 1;
}
.transaction-complete-transfer-info .box-row-title {
  min-width: 20rem;
  font: normal normal normal 2.4rem/5rem Circular Std Bold;
  letter-spacing: -0.48px;
  color: #2e3d62;
}
.transaction-complete-transfer-info .box-row-desc {
  font: normal normal normal 2.4rem/5rem Circular Std Bold;
  letter-spacing: -0.48px;
  color: #a3a1bc;
}
.transaction-complete-transfer-info .box-footer {
  margin-top: 5rem;
}
.transaction-complete-transfer-info .box-footer-inner {
  flex: 2;
}
.transaction-complete-transfer-info .box-footer-desc {
  color: #d53535;
}

.transaction-complete-button {
  display: flex;
  justify-content: flex-end;
}

/*# sourceMappingURL=style.css.map */
