* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0 !important;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #6a6a6a;
  font-size: 1.8rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #6a6a6a;
  font-size: 1.8rem;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #6a6a6a;
  font-size: 1.8rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #6a6a6a;
  font-size: 1.8rem;
}

body {
  font-family: "Lato";
  font-size: 1.6rem;
  padding: 3rem;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-large {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.signin {
  display: flex;
  flex-direction: row;
}
.signin .logo-side {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 100vh;
  padding: 9rem 9rem;
}
.signin .logo-side h1 {
  color: #ffffff;
  padding-top: 9rem;
  font-size: 7.2rem;
  line-height: 8.2rem;
}
.signin .no-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 9rem 9rem;
}
.signin .no-logo p {
  font-size: 2.4rem;
  color: #9190a2;
}
.signin .form-side {
  background: #f4f8fd;
  width: 50vw;
  padding: 0rem 20rem 0rem 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signin .form-side h2 {
  color: #2e3d62;
  font-size: 55px;
  letter-spacing: -1.1px;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 3rem;
  position: relative;
}
.signin .form-side h2::before {
  content: "";
  width: 7rem;
  border-radius: 1rem;
  height: 0.8rem;
  background: #3584d5;
  position: absolute;
  bottom: -16px;
}
.signin .form-side p {
  color: #2a1e59;
  opacity: 0.4;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}
.signin .form-side form .form-group label {
  color: #a3a1bc;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}
.signin .form-side form .form-group input {
  box-shadow: 4px 3px 6px #00000026;
  border-radius: 10px;
  padding: 2rem;
  font-size: 1.8rem;
}
.signin .form-side form .form-group input[type=checkbox] {
  margin: 2.2rem 1.2rem 1rem 0;
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(1.5);
}
.signin .form-side form .form-group .form-check-label {
  margin-top: 1rem;
  padding-left: 3rem;
}
.signin .form-side form button {
  background: #93c144;
  color: #ffffff;
  text-align: center;
  padding: 2rem;
  width: 100%;
  font-size: 1.8rem;
  border: none;
  border-radius: 5rem;
  margin-top: 2rem;
}
.signin .form-side a {
  color: #93c144;
  font-size: 1.8rem;
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
