$color-primary: #55c57a;
$color-light-primary: #7ed56f;
$color-dark-primary: #28b485;

$color-light-secondary: #ffb900;
$color-dark-secondary: #ff773d;

$color-light-tertiary: #2998ff;
$color-dark-tertiary: #5643fa;

$default-font-size: 1.6rem;

$color-white: #ffffff;
$color-black: #000000;

$color-light-gray-1: #f7f7f7;
$color-light-gray-2: #eee;

$color-dark-gray: #777;

$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
