.blue-button {
  background-color: #3584d5;
  //   padding: 2rem 4rem;
  color: #fff;
  box-shadow: 2px 5px 1.5rem #3584d580;
  border-radius: 10rem;

  font: normal normal normal 2.4rem/4.3rem Circular Std Book;
  letter-spacing: 0px;

  width: 32rem;
  height: 7rem;

  justify-content: center;
  align-items: center;
  display: flex;
}
