.box {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 10px 10px 10px #eceefd;
  border-radius: 1.2rem;
  margin-bottom: 4.6rem;
  padding: 3.6rem;
}
.box.card-padding{
  padding:2rem;
}