.heading-div{
    display:flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    border-bottom: 1px solid #ECEEFD;
    margin-bottom: 3rem;
    h2{
        @include box-heading;      
    }
    a{
        @include main-button;
        margin:0;
        width:auto;
        background: $color-gray;
        padding: 1rem 3rem;
    }
}