header {
  padding: 2.5rem 5rem;
  background: #101820;

  .header-div {
    display: flex;
    flex-direction: column;
    .header-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-bottom: 3rem;
      .header-right {
        display: flex;
        align-items: center;

        .logo-img {
          height: 90px;

          img {
            height: 100%;
            padding-right: 10rem;
          }
        }
        h6 {
          color: #a5acc6;
          font-size: 1.4rem;
          span {
            color: $color-blue;
          }
        }
      }
      .header-left {
        display: flex;
        flex-direction: row;
        .header-ul {
          display: flex;
          align-items: center;
          li {
            padding-left: 2rem;
            button {
              background-color: transparent !important;
              border: none;
              color: #fff;
              text-align: left;
              display: flex;
              align-items: center;
              .profile-image {
                height: 50px;
                margin-right: 20px;
                border-radius: 50%;
                img {
                  height: 100%;
                }
              }
            }
            span {
              display: block;
              font-size: 14px;
              color: #a5acc6;
            }
            .userProfile{
              ul{
                background:$color-green;  
                padding:2rem 1rem 0rem;
                width:22rem;
                border-radius:1.2rem;
                li{
                  margin-bottom:2rem;
                  a{color:$color-white;
                    font-size:1.6rem;
                    i{margin-right:2rem;}

                  }
                  a.signout-btn{
                    background:$color-pink;
                    border-radius:5rem;
                    padding:1rem 3rem;
                    text-decoration: none;
                  }
                }
              }
            }
            .dropdown-toggle::after {
              margin-left:1rem;
              margin-top: 0.4em;
              border-top: 1.4em solid;
              border-right: 0.9em solid transparent;
              border-left: 0.9em solid transparent;
              color: #93c144;
          }
          }
        }
      }
    }
    .header-bottom {
      .header-ul-2 {
        display: flex;
        justify-content: start;

        li {
          list-style: none;
          width: 140px;
          border-right: 2px solid $color-white;
          margin-right: 60px;
          a {
            font-size: 1.4rem;
            color: $color-white;
          }
        }
      }
    }
  }
}
