.red-button {
  background: #d53535;
  box-shadow: 2px 5px 15px #a3a1bc40;

  border: none;
  outline: none;

  padding: 1rem 2.5rem;

  border-radius: 10rem;

  font: normal normal normal 1.6rem/2.8rem FontAwesome;
  letter-spacing: 0px;

  width: 10rem;
  color: #ffffff;
}
