* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media (max-width: 1800px) {
    font-size: 55%;
  }

  @media (max-width: 1600px) {
    font-size: 52%;
  }

  @media (max-width: 1500px) {
    font-size: 48%;
  }

  @media (max-width: 1400px) {
    font-size: 45%;
  }

  @media (max-width: 1300px) {
    font-size: 40%;
  }
}
body {
  padding: 0 !important;

  background-color: #f4f8fd !important;

  height: 100vh;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #6a6a6a;
  font-size: 1.8rem;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #6a6a6a;
  font-size: 1.8rem;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #6a6a6a;
  font-size: 1.8rem;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #6a6a6a;
  font-size: 1.8rem;
}

.content-container {
  padding: 3rem 10rem;
  background-color: #f4f8fd;
}
input::placeholder {
  color: $color-heading;
}
select {
  color: $color-heading;
}
input[type="date"] {
  color: $color-heading;
}
::-webkit-calendar-picker-indicator {
  opacity: 0.6;
}
.steric{ color:$color-red;}

input[type=checkbox] {
  display: none;
 
}
input[type="checkbox"] + label::before {
  content: "\2714";
  border: 0.1em solid #000;
  // border-radius: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 10px;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
  margin-bottom: 9px;
}

input[type=checkbox] + label:active:before {
transform: scale(0);
}

input[type="checkbox"]:checked + label::before {
  background-color: #93C144;
  border-color: #93C144;
  color: #fff;
  line-height: 17px;
  font-size: 1.5rem;
}
input[type="checkbox"]:checked + label {

  color: $color-green;

}