body {
  font-family: "Lato" !important;
  font-size: 1.6rem !important;
  padding: 3rem;
  box-sizing: border-box !important;
  font-weight: 400 !important;
  line-height: 1.7 !important;
  color: $color-dark-gray;
}

// @font-face {
//   font-family: "Circular Std";
//   src: url("../../assets/fonts/Circular-Std-Font.otf");
// }
