.signin {
  display: flex;
  flex-direction: row;

  .logo-side {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 100vh;
    padding: 9rem 9rem;

    img {
    }
    h1 {
      color: $color-white;
      padding-top: 9rem;
      font-size: 7.2rem;
      line-height: 8.2rem;
    }
  }
  .no-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9rem 9rem;
    p {
      font-size: 2.4rem;
      color: #9190a2;
    }
  }
  .form-side {
    background: #f4f8fd;
    width: 50vw;
    padding: 0rem 20rem 0rem 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      @include main-heading;
      position: relative;
      &::before {
        content: "";
        width: 7rem;
        border-radius: 1rem;
        height: 0.8rem;
        background: #3584d5;
        position: absolute;
        bottom: -16px;
      }
    }
    p {
      color: $color-para;
      opacity: 0.4;
      font-size: 2.2rem;
      margin-bottom: 3rem;
    }
    form {
      .form-group {
        label {
          color: $color-label;
          font-size: 2.2rem;
          margin-bottom: 0.5rem;
        }
        input {
          box-shadow: 4px 3px 6px #00000026;
          border-radius: 10px;
          padding: 2rem;
          font-size: 1.8rem;
        }
        input[type="checkbox"] {
          margin: 2.2rem 1.2rem 1rem 0;
          -ms-transform: scale(2);
          -moz-transform: scale(2);
          -webkit-transform: scale(2);
          -o-transform: scale(2);
          transform: scale(1.5);
        }
        .form-check-label {
          margin-top: 1rem;
          padding-left: 3rem;
        }
      }
      button {
        @include main-button;
      }
    }
    a {
      color: $color-green;
      font-size: 1.8rem;
      text-align: right;
    }
  }
}
