.transaction-complete-header {
  .heading {
    font: normal normal normal 3.6rem/5rem Circular Std Black;
    letter-spacing: -0.72px;
    color: #2e3d62;
    text-transform: capitalize;
    text-align: center;
  }

  .MTCN {
    color: #3584d5;
    text-align: center;
    font: normal normal normal 4.4rem/5rem Circular Std Black;
    letter-spacing: -0.88px;
  }

  .time {
    text-align: center;
    font: normal normal normal 2.2rem/5rem Circular Std Black;
    letter-spacing: -0.44px;
    color: #a5acc6;
    text-transform: capitalize;
  }
}

.transaction-complete-transfer-info {
  .heading {
    font: normal normal normal 3rem/7rem Circular Std Black;
    letter-spacing: -0.6px;
    color: #2e3d62;
    text-transform: capitalize;
  }
  .box-divider {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
  }

  .box-row {
    display: flex;
    align-items: center;

    flex-wrap: wrap;

    &-inner {
      display: flex;

      flex: 1;

      flex-wrap: wrap;
    }

    &-small-text {
      font: normal normal normal 1.6rem/3.5rem Circular Std Medium;
      letter-spacing: 0px;
      color: #2e3d62;
    }

    &-title {
      // min-width: 20rem;

      width: 20rem;

      font: normal normal normal 2.4rem/5rem Circular Std Bold;
      letter-spacing: -0.48px;
      color: #2e3d62;
      margin-right: 2rem;
    }

    &-desc {
      font: normal normal normal 2.4rem/5rem Circular Std Bold;
      letter-spacing: -0.48px;
      color: #a3a1bc;
    }
  }

  .box-footer {
    margin-top: 5rem;

    &-inner {
      flex: 2;
    }

    &-desc {
      color: #d53535;
    }
  }

  .wallet-info-table {
    width: 40%;

    th {
      font: normal normal normal 2.4rem/5rem Circular Std Bold;
      letter-spacing: -0.48px;
      color: #a3a1bc;
    }

    td:nth-child(2) {
      text-align: left;
      font: normal normal normal 24px/50px Circular Std Bold;
      letter-spacing: -0.48px;
      color: #3584d5;
    }
    font: normal normal normal 2.4rem/5rem Circular Std Bold;
    letter-spacing: -0.48px;
    color: #2e3d62;

    .icons {
      display: flex;
    }

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
      width: 4rem;
      border-radius: 10rem;
      background-color: #93c144;

      i {
        color: #fff;
        font-size: 2rem;
      }
    }

    .icon-red {
      background-color: #3584d5;
    }
  }
}

.transaction-complete-button {
  display: flex;
  justify-content: flex-end;
}
